# Based on the "trust" template v0.1.2
# https://github.com/japaric/trust/tree/v0.1.2

dist: trusty
language: rust
services: docker
sudo: required

env:
  global:
    - CRATE_NAME=heatseeker
    - RUST_BACKTRACE=1

matrix:
  include:
    # Linux
    - env: TARGET=x86_64-unknown-linux-gnu
    - env: TARGET=x86_64-unknown-linux-musl
    - env: TARGET=aarch64-unknown-linux-gnu

    # OSX
    - env: TARGET=x86_64-apple-darwin
      os: osx

    # *BSD
    # https://travis-ci.org/rschmitt/heatseeker/jobs/590936014
    # - env: TARGET=x86_64-unknown-freebsd DISABLE_TESTS=1
    # https://github.com/japaric/trust/issues/101
    # - env: TARGET=x86_64-unknown-netbsd DISABLE_TESTS=1

    # Windows
    - env: TARGET=x86_64-pc-windows-gnu

    # Testing other channels
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: nightly
    - env: TARGET=x86_64-apple-darwin
      os: osx
      rust: nightly


before_install:
  - set -e
  - rustup self update
  - uname -a

install:
  - sh ci/install.sh
  - source ~/.cargo/env || true

script:
  - bash ci/script.sh

after_script: set +e

before_deploy:
  - sh ci/before_deploy.sh

deploy:
  api_key:
    secure: "UI0aBNDbs0X6uOZErimt1AvsWvrGzP/EVhmqdM5wnWXB9OXgP8W/mwXgem83h9DfcGM0D6PvXgMBFoQkSznGdaeow2B4bJpUdfGQibnnsztCi0m7eu02ZGdulAKwY34gDsbibfjzNmoncP/RrNRRiRQ4q1IAgb47HrLpc0pzKCM="
  file_glob: true
  file: $CRATE_NAME-$TRAVIS_TAG-$TARGET.*
  on:
    condition: $TRAVIS_RUST_VERSION = stable
    tags: true
  provider: releases
  skip_cleanup: true

cache: cargo
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

branches:
  only:
    # release tags
    - /^v\d+\.\d+\.\d+.*$/
    - master

notifications:
  email:
    on_success: never
