[package]
name = "heatseeker"
version = "1.6.1"
authors = ["Ryan Schmitt <rschmitt@pobox.com>"]
description = "A fast, robust, and portable fuzzy finder."
license = "MIT"
readme = "README.md"
documentation = "https://github.com/rschmitt/heatseeker"
homepage = "https://github.com/rschmitt/heatseeker"
repository = "https://github.com/rschmitt/heatseeker"
build = "build.rs"
exclude = ["/ci/*", "/Cross.toml", "/VERIFICATION.txt", "*.nuspec", "*.bat", "*.rb", "*.yml"]

[[bin]]
name = "hs"
path = "src/main.rs"

[dependencies]
crossbeam = "0.7"
getopts = "0.2.15"
num_cpus = "1.7.0"
unicode-width = "0.1.4"

[target.'cfg(not(windows))'.dependencies]
libc = "0.2.31"
signal-hook = "0.1.3"

[target.'cfg(windows)'.dependencies]
kernel32-sys = "0.2.2"
winapi = "0.2.8"

[build-dependencies]
time = "0.1.38"
